<main>
    <div class="hero-content">
        <h1 class="main-title">Nuestro Equipo</h1>
        <div class="hero-text">
            <p>Conoce a los desarrolladores detrás de Chass.com</p>
        </div>
        
        <div class="developers-container">
            <div class="developer-card">
                <i class="fas fa-user-ninja"></i>
                <div class="developer-details">
                    <h3>Mariana Carrasco</h3>
                    <p><i class="fas fa-envelope"></i> mariana.carrasco@mail.udp.cl</p>
                    <p><i class="fas fa-phone-alt"></i> +56950957946</p>
                    <div class="developer-skills">
                        <span>Frontend</span>
                        <span>UX/UI</span>
                        <span>JavaScript</span>
                    </div>
                </div>
            </div>
            
            <div class="developer-card">
                <i class="fas fa-user-astronaut"></i>
                <div class="developer-details">
                    <h3>Fernando Cabrera</h3>
                    <p><i class="fas fa-envelope"></i> fernando.cabrera1@mail.udp.cl</p>
                    <p><i class="fas fa-phone-alt"></i> +56956120958</p>
                    <div class="developer-skills">
                        <span>Backend</span>
                        <span>Algoritmos</span>
                        <span>Bases de datos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
