<main>
      <section class="public-game">
        <h1>Partidas:</h1>
        <div class="games-grid">
          <div class="game-info">
            <h3>Partida en curso:</h3>
            <h4>Usuario vs. Usuario</h4>
            <a href="/chessboard" class="button">Ver partida</a>
          </div>
        </div>
      </section>
    </main>
